<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9bbd76">  <td>21/02/25 11:47:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterClass()[pri:0, instance:testcases.User.TC024_ManagerReports@7b227d8d]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2130772866</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>21/02/25 11:47:19</td>   <td>-1004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterMethod()[pri:0, instance:testcases.User.TC024_ManagerReports@7b227d8d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2130772866</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>21/02/25 11:47:20</td>   <td>22</td> <td title="&lt;&lt;PreAndPost.afterSuite()[pri:0, instance:testcases.User.TC024_ManagerReports@7b227d8d]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2130772866</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>21/02/25 11:46:55</td>   <td>-24899</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.beforeClass()[pri:0, instance:testcases.User.TC024_ManagerReports@7b227d8d]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2130772866</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>21/02/25 11:46:56</td>   <td>-24001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.beforeMethod()[pri:0, instance:testcases.User.TC024_ManagerReports@7b227d8d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2130772866</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>21/02/25 11:46:55</td>   <td>-25149</td> <td title="&gt;&gt;PreAndPost.beforeSuite()[pri:0, instance:testcases.User.TC024_ManagerReports@7b227d8d]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2130772866</td>   <td></td> </tr>
<tr bgcolor="b96fde">  <td>21/02/25 11:46:55</td>   <td>-24905</td> <td>&nbsp;</td><td title="&gt;&gt;TC024_ManagerReports.setValues()[pri:0, instance:testcases.User.TC024_ManagerReports@7b227d8d]">&gt;&gt;setValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2130772866</td>   <td></td> </tr>
<tr bgcolor="b96fde">  <td>21/02/25 11:47:02</td>   <td>-17848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC024_ManagerReports.userManagerReports(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.User.TC024_ManagerReports@7b227d8d]">userManagerReports</td> 
  <td>main@2130772866</td>   <td></td> </tr>
</table>
