<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6461b3">  <td>21/02/22 15:19:16</td>   <td>0</td> <td title="&gt;&gt;PreAndPost.beforeSuite()[pri:0, instance:testcases.User.TC001_UserLogin@11a9e7c8]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="a0b76e">  <td>21/02/22 15:19:16</td>   <td>328</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_UserLogin.setValues()[pri:0, instance:testcases.User.TC001_UserLogin@11a9e7c8]">&gt;&gt;setValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="6461b3">  <td>21/02/22 15:19:16</td>   <td>333</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.beforeClass()[pri:0, instance:testcases.User.TC001_UserLogin@11a9e7c8]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="6461b3">  <td>21/02/22 15:19:17</td>   <td>1261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.beforeMethod()[pri:0, instance:testcases.User.TC001_UserLogin@11a9e7c8]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="a0b76e">  <td>21/02/22 15:19:23</td>   <td>7278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_UserLogin.userLoginCheck(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.User.TC001_UserLogin@11a9e7c8]">userLoginCheck</td> 
  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="6461b3">  <td>21/02/22 15:19:32</td>   <td>16416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterMethod()[pri:0, instance:testcases.User.TC001_UserLogin@11a9e7c8]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="6461b3">  <td>21/02/22 15:19:34</td>   <td>17567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.beforeMethod()[pri:0, instance:testcases.User.TC001_UserLogin@11a9e7c8]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="a0b76e">  <td>21/02/22 15:19:39</td>   <td>23160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_UserLogin.userLoginCheck(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.User.TC001_UserLogin@11a9e7c8]">userLoginCheck</td> 
  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="6461b3">  <td>21/02/22 15:19:48</td>   <td>32325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterMethod()[pri:0, instance:testcases.User.TC001_UserLogin@11a9e7c8]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="6461b3">  <td>21/02/22 15:19:49</td>   <td>33063</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterClass()[pri:0, instance:testcases.User.TC001_UserLogin@11a9e7c8]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="6461b3">  <td>21/02/22 15:19:49</td>   <td>33091</td> <td title="&lt;&lt;PreAndPost.afterSuite()[pri:0, instance:testcases.User.TC001_UserLogin@11a9e7c8]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580297332</td>   <td></td> </tr>
</table>
